<button {{action "createPatient"}}>CREATE PATIENT</button>
{{#each records as |record|}}
<ul>
  <li>id: {{record.id}}</li>
  <li>name: {{record.name}}</li>
  <li>remoteId: {{record.remoteId}}</li>
</ul>
{{/each}}
